.col-md-6 {
  border-style: solid;
  border-width: 5px;
  width: 45%;
  height: 60px;
  padding: 1px;
  margin: 0 0 10px 40px;
  text-align: center;
  border-color: grey;
  background-color:#f8f8fa;
  font-family: 'Griffy', cursive;
  font-size: 30px;
}

.jumbotron {
text-align: center;
}

#JavaScript-back {
  display: none;
}

#Operators-back {
  display: none;
}

#Variables-back {
  display: none;
}

#Functions-back {
  display: none;
}

#Methods-back {
  display: none;
}

#Arguments-back {
  display: none;
}

#Parameters-back {
  display: none;
}

#Return-back {
  display: none;
}

#Strings-back {
  display: none;
}

#Booleans-back {
  display: none;
}

#Undefined-back {
  display: none;
}

#Escape-back {
  display: none;
}

#Alert-back {
  display: none;
}

#Comments-back {
  display: none;
}

#jQuery-back {
  display: none;
}

#Attributes-back {
  display: none;
}
